/* p {
    background-color: blue;
    color: white;
} */

body {
    background-color: black;
}

.wb-all-content{
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.wd-header {
    font-size: 20px;
    color: white;
}

.wd-med-account-profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 50px;
}




.wd-float-left {
    float: left;
}
.wd-grid-row {
    clear: both;
    margin-bottom: 15px;
}

.wd-grid-col-90-perc {
    width: 90%;
    float: left;
}

.wd-grid-col-25-perc {
    width: 25%;
    float: left;
}

.wd-grid-col-10-perc {
    width: 10%;
    float: left;
}

.wd-grid-col-80-perc {
    width: 80%;
    float: left;
}

.wd-grid-col-20-perc {
    width: 20%;
    float: left;
}

.wd-medium-gray-text {
    color: rgb(110, 118, 125);
    font-size: 15px;
}

.wd-medium-white-text {
    max-width: 506px;
    color: white;
    font-size: 15px;
}

.wd-tuit-thumbnail-image {
    width: 504px;
    height: 264px;
    border-bottom: 1px rgb(47, 51, 54) solid;
    border-radius: 10px 10px 0 0;
}


.wd-tuit-icons {
    width: 504px;
    
}

.wd-tuit-link-tumbnail-text-format{
    padding: 12px;
}

.tuit-link-thumbnail {
    border-radius: 10px;
    border: 1px rgb(47, 51, 54) solid;
    width: 504px;

}

.wd-link-text {
    color: rgb(110, 118, 125);
    font-size: 15px;
    font-weight: 800;
}

.wd-text {
    font-family: Arial, Helvetica, sans-serif;
}

.wd-search-bar-wrap {
    background-color: rgb(47, 51, 54);
    padding: 0;
    margin: 0px;
    border-radius: 20px;
    padding: 5px 0 5px 0;
}

.wd-12-pix-padding {
    padding-left: 12px;
    display: flex;
    justify-content: center;
}

.wd-12-padding {
    padding-left: 12px;
}

.wd-link-padding {
    padding: 16px 16px 16px 0px;
}

.wd-selected-link {
    color: rgb(29,161,242);
    border-style: solid;
    border: rgb(29,161,242);
    border-width: 4px;

}

.wd-thick-bottom-border {
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color:  rgb(47, 51, 54);
}

.wd-top-corner{
    float:right;
}

.wd-info-text {
    color: rgb(110, 118, 125);
    font-size: 13px;
}

.wd-tuit-name {
    color: white;
    font-weight: 400;
    font-size: 15px;
    line-height: 0px;
}

.wd-tuit-border {
    border: 1px solid white;
}

.wd-tuit-preview-image {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin-right: 16px;
}

.wd-account-name {
    color:white;
    font-weight: 400;
}

.wd-mini-account-profile-pic{
    height: 10px;
}
